<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>yourbudget web</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.min.css" %}">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/fonts/line-icons.css" %}">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{% static "assets/plugins/morris/morris.css" %}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/main.css" %}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/responsive.css" %}">

  </head>

  <body>
    <div class="app header-default side-nav-dark">
      <div class="layout">
        <!-- Header START -->
        <div class="header navbar">
          <div class="header-container">
            <div class="nav-logo">
              <a href="index.html">

                <b><img src="{% static "assets/img/logo.png" %}" alt=""></b>
                <span class="logo">
                  <img src="{% static "assets/img/logo-text.png" %}" alt="">
                </span>
              </a>
            </div>
            <ul class="nav-left">
              <li>
                <a class="sidenav-fold-toggler" href="javascript:void(0);">
                  <i class="lni-menu"></i>
                </a>
                <a class="sidenav-expand-toggler" href="javascript:void(0);">
                  <i class="lni-menu"></i>
                </a>
              </li>
            </ul>
            <ul class="nav-right">
              <li class="search-box">
                <input class="form-control" type="text" placeholder="Type to search...">
                <i class="lni-search"></i>
              </li>
              <li class="notifications dropdown dropdown-animated scale-left">
                <span class="counter">2</span>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="lni-alarm"></i>
                </a>
                <ul class="dropdown-menu dropdown-lg">
                  <li>
                    <h5 class="n-title text-center">
                      <i class="lni-alarm"></i>
                      <span>Notifications</span>
                    </h5>
                  </li>
                  <li>
                    <ul class="list-media">
                      <li class="list-item">
                        <a href="#" class="media-hover">
                          <div class="media-img">
                            <div class="icon-avatar bg-primary">
                              <i class="lni-envelope"></i>
                            </div>
                          </div>
                          <div class="info">
                            <span class="title">
                              5 new messages
                            </span>
                            <span class="sub-title">4 min ago</span>
                          </div>
                        </a>
                      </li>
                      <li class="list-item">
                        <a href="#" class="media-hover">
                          <div class="media-img">
                            <div class="icon-avatar bg-success">
                              <i class="lni-comments-alt"></i>
                            </div>
                          </div>
                          <div class="info">
                            <span class="title">
                                4 new comments
                            </span>
                            <span class="sub-title">12 min ago</span>
                          </div>
                        </a>
                      </li>
                      <li class="list-item">
                        <a href="#" class="media-hover">
                          <div class="media-img">
                            <div class="icon-avatar bg-info">
                              <i class="lni-users"></i>
                            </div>
                          </div>
                          <div class="info">
                            <span class="title">
                              3 Friend Requests
                            </span>
                            <span class="sub-title">a day ago</span>
                          </div>
                        </a>
                      </li>
                      <li class="list-item">
                        <a href="#" class="media-hover">
                          <div class="media-img">
                            <div class="icon-avatar bg-purple">
                              <i class="lni-comments-alt"></i>
                            </div>
                          </div>
                          <div class="info">
                            <span class="title">
                              2 new messages
                            </span>
                            <span class="sub-title">12 min ago</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="check-all text-center">
                    <span>
                      <a href="#" class="text-gray">Check all notifications</a>
                    </span>
                  </li>
                </ul>
              </li>
              <li class="user-profile dropdown dropdown-animated scale-left">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img class="profile-img img-fluid" src="{% static "assets/img/avatar/avatar.jpg" %}" alt="">
                </a>
                <ul class="dropdown-menu dropdown-md">
                  <li>
                    <ul class="list-media">
                      <li class="list-item avatar-info">
                        <div class="media-img">
                          <img src="{% static "assets/img/avatar/avatar.jpg" %}" alt="">
                        </div>
                        <div class="info">
                          <span class="title text-semibold">{{full_name}}</span>
                          <span class="sub-title">UI/UX Desinger</span>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="">
                      <i class="lni-cog"></i>
                      <span>Setting</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="lni-user"></i>
                      <span>Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="lni-envelope"></i>
                      <span>Inbox</span>
                      <span class="badge badge-pill badge-primary badge-pro pull-right">2</span>
                    </a>
                  </li>
                  <li>
                    <a href="logout">
                      <i class="lni-lock"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- Header END -->

        <!-- Side Nav START -->
        <div class="side-nav expand-lg">
          <div class="side-nav-inner">
            <ul class="side-nav-menu">
              <li class="side-nav-header">
                <span>Navigation</span>
              </li>
              <li class="nav-item dropdown open">
                <a href="#" class="dropdown-toggle">
                  <span class="icon-holder">
                    <i class="lni-mastercard"></i>
                  </span>
                  <span class="title">Your Budget</span>
                  <span class="arrow">
                    <i class="lni-chevron-right"></i>
                  </span>
                </a>

                <ul class="dropdown-menu sub-down">
                  <li>
                    <a href="index">Dashboard</a>
                  </li>
                  <li class="active">
                    <a href="alltrips">All trips</a>
                  </li>
                </ul>

              </li>
            </ul>
          </div>
        </div>
        <!-- Side Nav END -->

        <!-- Page Container START -->
        <div class="page-container">
          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="container-fluid">
              <!-- Breadcrumb Start -->
              <div class="breadcrumb-wrapper row">
                <div class="col-12 col-lg-3 col-md-6">
                      <h4 class="page-title">Shopping history info</h4>
                </div>
                <div class="col-12 col-lg-9 col-md-6">
                  <ol class="breadcrumb float-right">
                    <li><a href="index">Home</a></li>
                    <li class="active">/ All trips</li>
                  </ol>
                </div>
              </div>
              <!-- Breadcrumb End -->
            </div>

            <div class="container-fluid">
              <!-- Title Count Start -->
              <div class="card-group">

              <!-- Title Count End -->
                <div class="table-responsive">
                    <table id="table1" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name of shop</th>
                                <th>Date</th>
                                <th>Total amount</th>
                                <th>Total discount</th>
                                <th>Address</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

                </div>
            </div>
          <!-- Content Wrapper END -->

          <!-- Footer START -->
          <footer class="content-footer">
            <div class="footer">
              <div class="copyright">
                <span>Copyright © 2019 <b class="text-dark">yourbudget inc</b>. All Right Reserved</span>
                <span class="go-right">
                  <a href="" class="text-gray">Term &amp; Conditions</a>
                  <a href="" class="text-gray">Privacy &amp; Policy</a>
                </span>
              </div>
            </div>
          </footer>
          <!-- Footer END -->

        </div>
        <!-- Page Container END -->
      </div>
    </div>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "assets/js/jquery-min.js" %}"></script>
    <script src="{% static "assets/js/popper.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/jquery.app.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>

    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables/dataTables.bootstrap4.min.js" %}"></script>

    <script src="{% static "assets/plugins/datatables/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables/buttons.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables/jszip.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables/pdfmake.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables/vfs_fonts.js" %}"></script>
    <script src="{% static "assets/plugins/datatables/buttons.html5.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables/buttons.print.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables/buttons.colVis.min.js" %}"></script>

    <script src="{% static "assets/plugins/datatables/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables/responsive.bootstrap4.min.js" %}"></script>

    <!--<script src="{% static "assets/js/datatables.init.js" %}"></script>-->



    <script>
        $(document).ready(function() {
            $('#table1').DataTable(
            {
                    "ajax": 'all_trips_data'
            }
            );
        } );
    </script>

  </body>
</html>
