<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>yourbudget web</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap-datepicker.standalone.css" %}">
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/fonts/line-icons.css" %}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/main.css" %}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/responsive.css" %}">
  </head>

  <body>
    <div class="layout">
      <div class="container">
          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="container-fluid">
              <!-- Breadcrumb Start -->
              <div class="breadcrumb-wrapper row">
                <div class="col-12 col-lg-3 col-md-6">
                  <!-- todo: make a pic instead of text -->
                  <h4 class="page-title">yourbudget</h4>
                </div>
              </div>
              <!-- Breadcrumb End -->
            </div>

            <div class="wrapper-page">
              <div class="row justify-content-center">
                <div class="col-12 grid-margin">
                  <div class="card">
                    <div class="card-header border-bottom">
                      <h4 class="card-title">Registration form</h4>
                    </div>
                    <div class="card-body">
                      <form class="form-sample" method="post">
                          {% csrf_token %}
                        <p class="card-description">
                          Personal info
                        </p>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <!--<label class="col-sm-3 col-form-label">First name</label>-->
                              <div class="col-sm-9">
                                <input type="text" class="form-control" name="first-name" required placeholder="First name">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <!--<label class="col-sm-3 col-form-label">Last name</label>-->
                              <div class="col-sm-9">
                                <input type="text" class="form-control" name="last-name" required placeholder="Last name">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <!--<label class="col-sm-3 col-form-label" for="password1">Password</label>-->
                              <div class="col-sm-9">
                                <input type="password" class="form-control" id="password1" placeholder="Password" name="password1" required>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <!--<label class="col-sm-3 col-form-label" for="password2">Confirm Password</label>-->
                              <div class="col-sm-9">
                                <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name="password2" required>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <!--<label class="col-sm-3 col-form-label">Username</label>-->
                              <div class="col-sm-9">
                                <input type="text" class="form-control" name="username" required placeholder="Username">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <!--<label class="col-sm-3 col-form-label">Email</label>-->
                              <div class="col-sm-9">
                                <!--todo: change placeholder to email  -->
                                <input class="form-control" type="email" placeholder="Email" name="email" required>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3">Gender</label>
                              <div class="col-sm-6">
                                <div class="custom-control custom-radio radio custom-control-inline">
                                  <input type="radio" class="custom-control-input" name="gender" id="male" value="name" checked="">
                                  <label class="custom-control-label" for="male">Male</label>
                                </div>
                                <div class="custom-control custom-radio radio custom-control-inline">
                                  <input type ="radio" class="custom-control-input" name="gender" id="female" value="female" checked="">
                                  <label class="custom-control-label" for="female">Female</label>
                                </div>
                              </div>
                            </div>
                          </div>


                          <div class="col-md-6">
                            <div class="form-group row">
                              <div class="col-sm-9">
                                  <!--todo insert image-->
                                    <!--<input id="datepicker" />-->
                                  <div class="input-group date">
                                    <input id="datepicker" name="date-of-birth" type="text" class="form-control" readonly><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                  </div>
                                </div>
                            </div>
                          </div>

                        </div>
                        <p class="card-description">
                          Telegram username
                        </p>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <div class="col-sm-9">

                                <input type="text" class="form-control" name="telegram_username" placeholder="gwyrwch" required>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p class="card-description">
                          Address
                        </p>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <!--<label class="col-sm-3 col-form-label">Country</label>-->
                              <div class="col-sm-9">
                                <select class="form-control" name="country" required>
                                  <option>Belarus</option>
                                  <option>Russia</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <!--<label class="col-sm-3 col-form-label">City</label>-->
                              <div class="col-sm-9">
                                <input type="text" class="form-control" name="city" required placeholder="City">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                          <button type="submit" class="btn col-6 btn-common d-block mx-auto">Register</button>
                        </div>
                        <div class="float" style="text-align: center;">
                          <a href="login" class="text-muted">
                            Already have account?
                          </a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Content Wrapper END -->
        </div>
    </div>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "assets/js/jquery-min.js" %}"></script>
    <script src="{% static "assets/js/popper.min.js" %}"></script>
    <script src="{% static "assets/js/jquery.app.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $('#datepicker').datepicker({
            weekStart: 1,
            daysOfWeekHighlighted: "6,0",
            autoclose: true,

            format: "yyyy-mm-dd"

        });
        $('#datepicker').datepicker("setDate", new Date());
    </script>

  </body>
</html>
