<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>yourbudget web</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.min.css" %}">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/fonts/line-icons.css" %}">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{% static "assets/plugins/morris/morris.css" %}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/main.css" %}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/responsive.css" %}">

  </head>

  <body>
    <div class="app header-default side-nav-dark">
      <div class="layout">
        <!-- Header START -->
        <div class="header navbar">
          <div class="header-container">
            <div class="nav-logo">
              <a href="index.html">

                <b><img src="{% static "assets/img/logo.png" %}" alt=""></b>
                <span class="logo">
                  <img src="{% static "assets/img/logo-text.png" %}" alt="">
                </span>
              </a>
            </div>
            <ul class="nav-left">
              <li>
                <a class="sidenav-fold-toggler" href="javascript:void(0);">
                  <i class="lni-menu"></i>
                </a>
                <a class="sidenav-expand-toggler" href="javascript:void(0);">
                  <i class="lni-menu"></i>
                </a>
              </li>
            </ul>
            <ul class="nav-right">
              <li class="search-box">
                <input class="form-control" type="text" placeholder="Type to search...">
                <i class="lni-search"></i>
              </li>
              <li class="notifications dropdown dropdown-animated scale-left">
                <span class="counter">2</span>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="lni-alarm"></i>
                </a>
                <ul class="dropdown-menu dropdown-lg">
                  <li>
                    <h5 class="n-title text-center">
                      <i class="lni-alarm"></i>
                      <span>Notifications</span>
                    </h5>
                  </li>
                  <li>
                    <ul class="list-media">
                      <li class="list-item">
                        <a href="#" class="media-hover">
                          <div class="media-img">
                            <div class="icon-avatar bg-primary">
                              <i class="lni-envelope"></i>
                            </div>
                          </div>
                          <div class="info">
                            <span class="title">
                              5 new messages
                            </span>
                            <span class="sub-title">4 min ago</span>
                          </div>
                        </a>
                      </li>
                      <li class="list-item">
                        <a href="#" class="media-hover">
                          <div class="media-img">
                            <div class="icon-avatar bg-success">
                              <i class="lni-comments-alt"></i>
                            </div>
                          </div>
                          <div class="info">
                            <span class="title">
                                4 new comments
                            </span>
                            <span class="sub-title">12 min ago</span>
                          </div>
                        </a>
                      </li>
                      <li class="list-item">
                        <a href="#" class="media-hover">
                          <div class="media-img">
                            <div class="icon-avatar bg-info">
                              <i class="lni-users"></i>
                            </div>
                          </div>
                          <div class="info">
                            <span class="title">
                              3 Friend Requests
                            </span>
                            <span class="sub-title">a day ago</span>
                          </div>
                        </a>
                      </li>
                      <li class="list-item">
                        <a href="#" class="media-hover">
                          <div class="media-img">
                            <div class="icon-avatar bg-purple">
                              <i class="lni-comments-alt"></i>
                            </div>
                          </div>
                          <div class="info">
                            <span class="title">
                              2 new messages
                            </span>
                            <span class="sub-title">12 min ago</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="check-all text-center">
                    <span>
                      <a href="#" class="text-gray">Check all notifications</a>
                    </span>
                  </li>
                </ul>
              </li>
              <li class="user-profile dropdown dropdown-animated scale-left">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img class="profile-img img-fluid" src="{% static "assets/img/avatar/avatar.jpg" %}" alt="">
                </a>
                <ul class="dropdown-menu dropdown-md">
                  <li>
                    <ul class="list-media">
                      <li class="list-item avatar-info">
                        <div class="media-img">
                          <img src="{% static "assets/img/avatar/avatar.jpg" %}" alt="">
                        </div>
                        <div class="info">
                          <span class="title text-semibold">{{full_name}}</span>
                          <span class="sub-title">UI/UX Desinger</span>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="">
                      <i class="lni-cog"></i>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="lni-user"></i>
                      <span>Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="lni-envelope"></i>
                      <span>Inbox</span>
                      <span class="badge badge-pill badge-primary badge-pro pull-right">2</span>
                    </a>
                  </li>
                  <li>
                    <a href="logout">
                      <i class="lni-lock"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- Header END -->

        <!-- Side Nav START -->
        <div class="side-nav expand-lg">
          <div class="side-nav-inner">
            <ul class="side-nav-menu">
              <li class="side-nav-header">
                <span>Navigation</span>
              </li>
              <li class="nav-item dropdown open">
                <a href="#" class="dropdown-toggle">
                  <span class="icon-holder">
                    <i class="lni-mastercard"></i>
                  </span>
                  <span class="title">Your Budget</span>
                  <span class="arrow">
                    <i class="lni-chevron-right"></i>
                  </span>
                </a>
                <ul class="dropdown-menu sub-down">
                  <li class="active">
                    <a href="index">Dashboard</a>
                  </li>
                  <li>
                    <a href="alltrips">All trips</a>
                  </li>
                </ul>

              </li>
            </ul>
          </div>
        </div>
        <!-- Side Nav END -->

        <!-- Page Container START -->
        <div class="page-container">
          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="row justify-content-center">
            <div class="col-lg-12 col-xl-6">
              <div class="card">
                <div class="card-header border-bottom">
                  <h4 class="card-title">General</h4>
                </div>
                <div class="card-body">
                  <form class="form" method="post">
                    {% csrf_token %}
                    <input type="text" value="general" name="settings" hidden>
                    <div class="form-row">
                    <div class="form-check col-md-12 m-b-20">
                      <div class="custom-control custom-radio radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="gender" id="male" value="male" {{male_checked}}>
                        <label class="custom-control-label" for="male">Male</label>
                      </div>
                        <div class="custom-control custom-radio radio custom-control-inline">
                          <input type="radio" class="custom-control-input" name="gender" id="female" value="female" {{female_checked}}>
                          <label class="custom-control-label" for="female">Female</label>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                      <p class="card-description">
                        Firstname
                      </p>
                      <input type="text" class="form-control" name="firstname" id="firstname" placeholder="{{firstname}}">
                    </div>
                    <div class="form-group col-lg-6">
                      <p class="card-description">
                        Lastname
                      </p>
                      <input type="text" class="form-control" name="lastname" id="lastname" placeholder="{{lastname}}">
                    </div>
                    <div class="form-group col-lg-12">
                      <p class="card-description">
                        Email
                      </p>
                      <input type="email" class="form-control" name="email" id="email" placeholder="{{email}}">
                    </div>
                    <div class="form-group col-lg-12">
                      <p class="card-description">
                        Telegram username
                      </p>
                      <input type="text" class="form-control" name="telegram_username" id="telegram_username" placeholder="{{telegram_username}}">
                    </div>

                    <div class="form-group col-lg-12 text-center">
                      <button type="submit" class="btn btn-common col-4 d-block mx-auto">Save</button>
                    </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="card">
                <div class="card-header border-bottom">
                  <h4 class="card-title">Change password</h4>
                </div>
                <div class="card-body">
                  <form class="form" method="post">
                    {% csrf_token %}
                    <input type="text" value="password" name="settings" hidden>
                    <div class="form-row">
                      <div class="form-group col-lg-12">

                      <!--<label for="currentPassword" class="col">Current password</label>-->
                      <!--<div class="">-->
                        <input type="password" class="form-control" name="old_password" id="currentPassword" placeholder="Current password">
                      <!--</div>-->
                    </div>
                    <div class="form-group col-lg-12">
                      <!--<label for="password" class="col-sm-4 col-form-label">New password</label>-->
                      <!--<div class="col-sm-8 row-sm-4">-->
                        <input type="password" class="form-control" name="password1" id="password" placeholder="New password">
                      <!--</div>-->
                    </div>
                    <div class="form-group col-lg-12">

                      <!--<label for="confirmPassword" class="col-sm-4 col-form-label">Confirm new password</label>-->
                      <!--<div class="col-sm-8 row-sm-4">-->
                        <input type="password" class="form-control" name="password2" id="confirmPassword" placeholder="Confirm new password">
                      <!--</div>-->
                    </div>
                    <div class="form-group col-lg-12 text-center">
                      <button type="submit" class="btn btn-common col-4 d-block mx-auto">Save</button>
                    </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="card">
                <div class="card-header border-bottom">
                  <h4 class="card-title">Preferences</h4>
                </div>
                <div class="card-body">
                  <form class="form" method="post">
                    {% csrf_token %}
                    <input type="text" value="preferences" name="settings" hidden>
                    <div class="form-row">
                    <div class="form-group col-lg-12">
                      <p class="card-description">
                        Favorite product
                      </p>
                      <input type="text" class="form-control" name="fav_product" id="fav_product" placeholder="{{fav_product}}">
                    </div>
                    <div class="form-group col-lg-12 text-center">
                      <button type="submit" class="btn btn-common col-4 d-block mx-auto">Save</button>
                    </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            </div>
          <!-- Content Wrapper END -->
        </div>

        <!-- Page Container END -->
      </div>
    </div>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "assets/js/jquery-min.js" %}"></script>
    <script src="{% static "assets/js/popper.min.js" %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{% static "assets/js/jquery.app.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>


  </body>
</html>
